{% extends "layout.html" %}

{% block title %}
    History
{% endblock %}

{% block main %}
    <div>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Symbol</th>
                    <th>Number of shares</th>
                    <th>Price</th>
                    <th>Buy\Sell</th>
                    <th>Time of Purchase</th>
                </tr>
            </thead>
            <tbody>
                {% for i in user_data %}
                    <tr>
                        <td>{{ i["name"] }}</td>
                        <td>{{ i["Symbol"] }}</td>
                        <td>{{ i["NumberOfShares"] }}</td>
                        <td>{{ i["TotalPrice"] }}</td>
                        <td>{{ i["type"] }}</td>
                        <td>{{ i["TimeOfPurchase"] }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
